@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #222
}


.card{
    width: 90%;
    max-width: 400px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 30px auto;
    padding: 40px 35px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}



/*----- Search Input , Button & City -------*/
.search{
    margin-top: 30px;
    display: inline-block;
    justify-content: space-evenly;
}

.search input{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
}

.search button{
    height: 40px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.search button i{
    font-size: 16px;
    color: #302b63;
}

.error{
    margin-top: 30px;
    font-size: 14px;
    display: none;
}

.city-name{
    margin-top: 24px;
}





/* ------- Sunrise & Sunset ------- */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.row img{
    width: 50px;
}

.sunrise{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.sunrise h2{
    padding-left: 10px;
    font-size: 18px;
}

.sunset{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.sunset h2{
    padding-left: 10px;
    font-size: 18px;
}

/* ------- Temprature ------- */
.temp-row{
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

.temp-row img{
    width: 150px;
}

.temp-row div{
    padding-top: 30px;
    padding-left: 10px;
}

.temp-row div h1{
    font-size: 60px;
}

.temp-row div p{
    margin-top: 5px;
    text-align: left;
    font-size: 32px;
}


/* ------ Humidity & Windspeed ------ */
.details{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
}



.humidity-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
   
    /* padding-right: 20px; */
}

.humidity-col img{
    width: 50px;
}

.humidity-col div h2{
    font-size: 28px;
}

.humidity-col div p{
    padding-top: 5px;
    font-size: 18px;
}


.windspeed-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding-right: 20px;
}

.windspeed-col img{
    width: 50px;
    padding-right: 8px;
}

.windspeed-col div h2{
    font-size: 28px;
}

.windspeed-col div p{
    padding-top: 5px;
    font-size: 18px;
}




/* info */
.info{
    display: none;
}




@media(max-width : 700px){
    
    .card{
        width: 90%;
        max-width: 300px;
    }

    .search input{
        width: fit-content;
    }

    .details img{
        width: 50px;
    }

    .details div h2{
        font-size: 18px;
    }

    .details div p{
        font-size: 12px;
    }

}


